# Python 프로그래밍

## 리스트

#### 리스트에서 값 삭제

In [1]:
a = [23, 3, 16, 45, 11, 45]

# 인덱스로 삭제
del a[2]
print(a)

# 값으로 삭제
a.remove(45) # 중복된 값은 맨 앞에 값만 삭제됨
print(a)

[23, 3, 45, 11, 45]
[23, 3, 11, 45]

#### 리스트에 값 추가

In [2]:
a = [23, 3, 16, 45, 11]

# 리스트.insert(인덱스, 값): 특정 인덱스 위치에 값 추가(뒤에 값들은 밀림)
a.insert(2, 10)
print(a)

[23, 3, 10, 16, 45, 11]

## 딕셔너리

#### 딕셔너리 생성

In [3]:
dict_a = { 'v1' : 32,
           'l1' : [1, 2, 3],
           'd1' : {'a' : 1, 'b' : 2} }
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}

#### 딕셔너리 정보 조회
- `.keys()` : 딕셔너리의 key 만 조회
- `.values()` : 딕셔너리의 값 만 조회
- `.items()` : key와 값을 쌍(tuple)으로 조회

In [4]:
print(dict_a.keys())
print(dict_a.values())
print(dict_a.items())

dict_keys(['v1', 'l1', 'd1'])
dict_values([32, [1, 2, 3], {'a': 1, 'b': 2}])
dict_items([('v1', 32), ('l1', [1, 2, 3]), ('d1', {'a': 1, 'b': 2})])

In [5]:
print(list(dict_a.keys()))
print(list(dict_a.values()))
print(list(dict_a.items()))

['v1', 'l1', 'd1']
[32, [1, 2, 3], {'a': 1, 'b': 2}]
[('v1', 32), ('l1', [1, 2, 3]), ('d1', {'a': 1, 'b': 2})]

#### 딕셔너리 조회

In [ ]:
# 무조건 key로 조회. 인덱스로 조회 불가능
print(dict_a['v1'])
print(dict_a['l1'][:2])
print(dict_a['d1']['a'])

#### 딕셔너리 추가, 수정, 삭제

In [6]:
# 추가, 수정 방법은 같음
dict_a['v2'] = 500
print(dict_a)

# 삭제
del dict_a['v2']
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}, 'v2': 500}
{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}

#### 딕셔너리와 for 반복문

In [7]:
for key, value in dict_a.items():
    print('key :', key)
    print('value : ', value)

key : v1
value :  32
key : l1
value :  [1, 2, 3]
key : d1
value :  {'a': 1, 'b': 2}

## 함수

#### *입력매개변수
- 입력값의 갯수를 제한하지 않고 받고자 할 때 사용
- 입력된 데이터 타입은 tuple

In [8]:
def numbers(*nums):
    print(nums, type(nums))
    
numbers(1, 2, 3)

(1, 2, 3) <class 'tuple'>

## 예외처리 try, except

```
try:
    # 오류를 감지하고자 하는 코드블럭
except 오류유형:
    # 발생된 오류를 처리
```

In [9]:
def divide(a, b) :
    try :
        result = a / b
        return result
    
    except ZeroDivisionError:
        print("0으로 나눌수 없습니다.")
        
divide(10, 0)

0으로 나눌수 없습니다.

In [10]:
def divide(a, b) :
    try :
        result = a / b
        return result
    # 모든 오류 처리
    except Exception as e:
        print("오류가 발생했습니다.:", e)
        
divide(10, 0)

오류가 발생했습니다.: division by zero

## 클래스 Class
- 변수, 함수를 묶어서 코드 작성해서 실행하는 문법 -> 코드 효율성 향상
- 객체지향 구현: 실제세계를 모델링하여 프로그램을 개발하는 개발 방법론 -> 협업향상
- 클래스는 사용자정의 데이터타입이다.
- 클래스 식별자 컨벤션 : snake_case(x), PascalCase(O), UpperCamelCase(O) : PEP8

>
- 사용법
    - 클래스선언(코드작성) > 객체생성(메모리사용) > 메서드호출(코드실행)
    - 클래스선언(설계도 작성) > 객체생성(제품생산) > 메서드호출(제품사용)
> 
- 객체 = object
- 클래스 안에서 선언된 함수 : 메서드
- 클래스 밖에서 선언된 함수 : 함수
- `self` : 객체 자신을 의미
- `__init__()` : 생성자(constructor) 메서드. 객체가 생성될 때 자동으로 호출되는 메서드
- 메서드 앞뒤로 `__` 있는 함수 : 스페셜 메서드. 특별한 기능을 하는 메서드

메서드 종류
- 인스턴스 메서드
    - self 인자를 받음
    - 인스턴스 변수에 엑세스할 수 있도록 첫 번째 인자에 항상 객체 자신을 의미하는 self파라미터를 받음(self이외에도 여러개의 파라미터를 가질 수 있음)
    - 해당 메서드를 호출한 객체에만 영향을 미침
    - 객체 속성에 접근이 가능
    - 95%이상이 인스턴스 메서드로 가장 흔히 쓰임
    - 호출 방법: 해당 클래스 안에서는 `self.메서드명`, 클래스 밖에서는 `객체.메서드명`
- 정적(static) 메서드
    - 객체와 독립적이지만, 로직상 클래스 내에 포함되는 메서드
    - 인스턴스 상태를 변화시키지 않는 메서드를 만들 때 사용
    - 아무것도 인자를 받지 않음
    - @staticmethod 데코레이터를 사용
    - 호출 방법: `클래스명.정적메서드명`
- 클래스 메서드
    - cls 인자를 받음
    - 해당 클래스로 생성된 객체로 부터 호출 되는 것이 아니라, 클래스 자체에서 직접 호출됨
    - 클래스 변수 컨트롤할 때 사용
    - @classmethod 데코레이터를 사용
    - 호출 방법: `클래스명.클래스메서드명` 또는 `객체명.클래스메서드명`
    
https://journeytosth.tistory.com/73

### 예시

In [2]:
# 클래스선언
class Order:
    
    amount = 0
    
    def new_order(self, price):
        self.amount += price
        
    def cancel_order(self, price):
        self.amount -= price

In [15]:
# 객체 생성 (메모리 사용)
customer1 = Order()
customer2 = Order()

- `dir()` : 객체의 변수, 함수 출력

In [11]:
# dir(customer1)
dir(customer1)[-3:]

['amount', 'cancel_order', 'new_order']

In [16]:
customer1.amount, customer2.amount

(0, 0)

In [17]:
# 데이터 수정 : 데이터선택 = 수정할 데이터
customer2.amount = 10000
customer1.amount, customer2.amount

(0, 10000)

In [18]:
# 메서드호출 : 코드실행 
customer1.new_order(30000)    # customer1.amount += 30000
customer2.cancel_order(10000) # customer2.amount -= 10000
customer1.amount, customer2.amount

(30000, 0)

### 데이터프레임 클래스 예시
DataFrame도 클래스이다.

In [1]:
import pandas as pd
df = pd.DataFrame({'ui':range(3), 'name':['A', 'B', 'C']})
df

   ui name
0   0    A
1   1    B
2   2    C

In [2]:
dir(df) # df 객체에 사용 가능한 속성과 메서드 목록

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'ui',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [21]:
help(df.corr) # 메서드 사용 방법 설명서

Help on method corr in module pandas.core.frame:

corr(method: 'str | Callable[[np.ndarray, np.ndarray], float]' = 'pearson', min_periods: 'int' = 1, numeric_only: 'bool | lib.NoDefault' = <no_default>) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Compute pairwise correlation of columns, excluding NA/null values.

    Parameters
    ----------
    method : {'pearson', 'kendall', 'spearman'} or callable
        Method of correlation:

        * pearson : standard correlation coefficient
        * kendall : Kendall Tau correlation coefficient
        * spearman : Spearman rank correlation
        * callable: callable with input two 1d ndarrays
            and returning a float. Note that the returned matrix from corr
            will have 1 along the diagonals and will be symmetric
            regardless of the callable's behavior.
    min_periods : int, optional
        Minimum number of observations required per pair of columns
        to have a valid result. Currently only available for Pearson
        and Spearman correlation.
    numeric_only : bool, default True
        Include only `float`, `int` or `boolean` data.

        .. versionadded:: 1.5.0

        .. deprecated:: 1.5.0
            The default value of ``numeric_only`` will be ``False`` in a future
            version of pandas.

    Returns
    -------
    DataFrame
        Correlation matrix.

    See Also
    --------
    DataFrame.corrwith : Compute pairwise correlation with another
        DataFrame or Series.
    Series.corr : Compute the correlation between two Series.

    Notes
    -----
    Pearson, Kendall and Spearman correlation are currently computed using pairwise complete observations.

    * `Pearson correlation coefficient <https://en.wikipedia.org/wiki/Pearson_correlation_coefficient>`_
    * `Kendall rank correlation coefficient <https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient>`_
    * `Spearman's rank correlation coefficient <https://en.wikipedia.org/wiki/Spearman%27s_rank_correlation_coefficient>`_

    Examples
    --------
    >>> def histogram_intersection(a, b):
    ...     v = np.minimum(a, b).sum().round(decimals=1)
    ...     return v
    >>> df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
    ...                   columns=['dogs', 'cats'])
    >>> df.corr(method=histogram_intersection)
          dogs  cats
    dogs   1.0   0.3
    cats   0.3   1.0

    >>> df = pd.DataFrame([(1, 1), (2, np.nan), (np.nan, 3), (4, 4)],
    ...                   columns=['dogs', 'cats'])
    >>> df.corr(min_periods=3)
          dogs  cats
    dogs   1.0   NaN
    cats   NaN   1.0

In [22]:
df.columns  # 데이터프레임 클래스의 변수

Index(['ui', 'name'], dtype='object')

In [23]:
# 데이터 수정
df.columns = ['user_id', 'full_name']
df

   user_id full_name
0        0         A
1        1         B
2        2         C

### 생성자 사용 예시

In [24]:
# 클래스선언
class Order:
    
    # 객체가 생성될때 실행되는 메서드
    # 다른 메서드에서 사용할 변수를 검사하거나 초기값을 설정
    def __init__(self, amount=0): 
        self.amount = amount
    
    def new_order(self, price):
        self.amount += price
        
    def cancel_order(self, price):
        self.amount -= price

In [27]:
# 객체 생성 (메모리 사용)
customer1 = Order(20000)
customer2 = Order()
customer1.amount, customer2.amount

(20000, 0)

In [28]:
# 메서드호출 : 코드실행 
customer1.new_order(30000)
customer1.amount, customer2.amount

(50000, 0)

## 데이터타입
- 클래스는 사용자정의 데이터타입이다. 
- 데이터타입이 다르면 사용할수 있는 변수, 함수가 다르다.

In [29]:
cus = Order()
type(cus)  # cus 객체의 데이터타입 : Order

__main__.Order

In [30]:
# data 객체의 클래스 : str 
# data 객체의 데이터타입 : str
# C언어 기반 클래스이기때문에 클래스명이 소문자로 시작함

# data 객체에서 사용가능한 변수, 함수는 str 클래스에서 정의
data = 'python'
type(data), dir(data)[-3:]

(str, ['translate', 'upper', 'zfill'])

In [31]:
help(data.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

- 데이터타입이 다르면, 사용할 수 있는 변수, 함수가 다르다.

In [32]:
d1, d2 = 'python', [1, 3, 2] 
type(d1), type(d2)

(str, list)

In [33]:
dir(d1)[-3:], dir(d2)[-3:]

(['translate', 'upper', 'zfill'], ['remove', 'reverse', 'sort'])